$acc-blue: #00182f;
$acc-blue-dark: #000050;
$acc-red: #CB0017;
$acc-red-dark: #C4001A;
$acc-gold: #9C7F59;
$acc-gold-dark: #A57B5E;
$acc-gold-light: #F8F3E7;
$acc-black: #251716;
$acc-bg-light: #EADFD7;
$acc-bg-dark: #9B7E6A;

$acc-main-bg: url("./assets/img/main_bg.jpg") center;
