$acc-blue: #00182f;
$acc-red: #e30000;
$ohs-blue-light: rgba(0, 140, 255, .2);
$ohs-orange: #ffb52f;
$ohs-red: #FF5368;
$ohs-red-light: rgba(255, 83, 104, .1);
$ohs-green: #00CE7d;
$ohs-green-light: #FBFFFD;
$ohs-black: #18191F;
$ohs-gray: #dcdfe6;
$ohs-gray-light: rgba(0, 0, 0, .05);
$ohs-border: 1px solid $ohs-gray;
$ohs-basic-unit: 8px;
